<?xml version="1.0"?>
<!--
/**
 * @author CJ Walker Team
 * @copyright Copyright © Trellis (https://www.trellis.co)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Walker_Minicart" setup_version="1.0.0" />
</config>
