<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <minicart>
            <general>
                <enable>1</enable>
                <promotion_amount>100</promotion_amount>
            </general>
        </minicart>
    </default>
</config>
