<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">

    <div class="contact-email">
        <div class="label-email" data-bind="i18n: 'Email'"></div>
        <!-- ko if: isVisibleElement -->
            <span data-bind="text: getEmail()"></span>
            <!-- ko if: !isLoggedIn -->
            <div class="edit-email"><span data-bind="i18n: 'Edit', click: backToContact"></span></div>
            <!-- /ko -->
        <!-- /ko -->

    </div>

    <h2 class="step-title" data-bind="i18n: 'Shipping Address'"></h2>
    <p data-bind="i18n: 'We\'re sorry, but because of the perishable nature of our orders, we don\'t ship to P.O. boxes.'"></p>

    <div id="checkout-step-shipping"
         class="step-content">

        <if args="!isFormInline">
            <div class="new-address-popup">
                <button type="button"
                        class="action action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'" />
                </button>
            </div>
        </if>

        <each args="getRegion('address-list')" render="" />
        <each args="getRegion('address-list-additional-addresses')" render="" />

        <!-- Address form pop up -->
        <if args="!isFormInline">
            <div id="opc-new-shipping-address"
                 visible="isFormPopUpVisible()"
                 render="shippingFormTemplate" />
        </if>

        <each args="getRegion('before-form')" render="" />

        <!-- Inline address form -->
        <render if="isFormInline" args="shippingFormTemplate" />

    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">

        <h2 class="step-title" data-bind="i18n: 'Select Your Delivery Date'"></h2>
        <p data-bind="i18n: 'Our shipping costs reflect industry-standard pricing to ensure our quality seafood is fresh when it arrives at your door.'"></p>
        <each args="getRegion('before-shipping-method-form')" render="" />

        <each args="getRegion('deliveryDate')" render="" />

        <div id="checkout-step-shipping_method"
             class="step-content">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"/>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Continue to Payment'" />
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'" />
        </div>
    </div>
</li>
